version: '3.8'
services:
  novnc:
    build:
      context: .
    environment:
      # Adjust to your screen size
      - DISPLAY_WIDTH=1600
      - DISPLAY_HEIGHT=968
    expose:
      - 8080
    networks:
      - x11
    deploy:
      resources:
          limits:
            cpus: 0.50
            memory: 512M
          reservations:
            cpus: 0.25
            memory: 128M
networks:
  x11: